[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
	branch = master
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded/
	branch = scarthgap
[submodule "layers/meta-imx"]
	path = layers/meta-imx
	url = https://github.com/nxp-imx/meta-imx.git
	branch = scarthgap-6.6.52-2.2.0
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale/
	branch = scarthgap
[submodule "layers/meta-compulab-bsp"]
	path = layers/meta-compulab-bsp
	url = https://github.com/compulab-yokneam/meta-compulab-bsp
	branch = scarthgap
[submodule "layers/meta-bsp-imx9"]
	path = layers/meta-bsp-imx9
	url = https://github.com/compulab-yokneam/meta-bsp-imx9.git
	branch = scarthgap-balena
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
	branch = master
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
	branch = master
[submodule "layers/meta-cyclonedx"]
	path = layers/meta-cyclonedx
	url = https://github.com/balena-os/meta-cyclonedx
	branch = scarthgap
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://git.yoctoproject.org/meta-security
	branch = master
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
